@font-face {
  font-family: pressStart2P;
  src: url("../res/PressStart2P-Regular.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  font-family: pressStart2P;
}
button {
  background-color: rgba(255, 255, 255, 0);
  border: 5px solid black;
  padding: 10px;
}
button:hover,
button:focus {
  background-color: rgba(255, 255, 255, 0.3);
}
button:focus {
  outline: 1px solid rgba(255, 255, 255, 1);
  outline-offset: -4px;
}
justify-content: center;
button:active {
  transform: scale(0.99);
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
#gameWindow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
table {
  user-select: none;
  cursor: none;
  background-color: rgba(0,0,0, 0.3);
  width:800px;
  height: 600px;
   margin: 40px 0;
  border: 10px solid black;
  border-spacing: 0;
}
td {
  height: 20px;
  width: 20px;
  background-color: rgba(0, 0, 0, 0);
}

#overlay {
  user-select: none;
  font-size: 30px;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  padding: 90px;
  animation-name: bgAni;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
#scoreKeeper {
  user-select: none;

  border: 8px solid black;
  padding: 10px;
}
@keyframes bgAni {
  0% {
    background-color: rgba(255, 255, 255, 0.3);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.5);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

/* ingame values */
.preload{
  background: url("../res/player/p20x20.png") no-repeat -9999px -9999px;
  background: url("../res/player/bug20x20.png") no-repeat -9999px -9999px;
  
}
td[id]{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  animation-iteration-count: infinite;
}
#snake-head {
  
  animation-duration: 200ms;
  animation-timing-function: steps(6);
}
#snake-head.pUp {
  background: url("../res/player/p20x20.png") 0 -20px;
  animation-name: p-up;
}
@keyframes p-up {
  100% {
    background-position: -120px -20px;
  }
}

#snake-head.pDown {
  background: url("../res/player/p20x20.png") 0 -60px;
  animation-name: p-down;
}
@keyframes p-down {
  100% {
    background-position: -120px -60px;
  }
}

#snake-head.pLeft {
  background: url("../res/player/p20x20.png") 0 -40px;
  animation-name: p-left;
}
@keyframes p-left {
  100% {
    background-position: -120px -40px;
  }
}

#snake-head.pRight {
  background: url("../res/player/p20x20.png") 0 0;
  animation-name: p-right;
}

@keyframes p-right {
  100% {
    background-position: -120px 0;
  }
}
#bug-1 {
  background: url("../res/player/bug20x20.png") 0 -60px;
  
  animation-duration: 300ms;
  animation-timing-function: steps(3);
  animation-direction: alternate;
  animation-name: bug-1;
}
@keyframes bug-1{
  100% {
    background-position: -60px -60px;
  }
}
#bug-2 {
  background: url("../res/player/bug20x20.png") 0 -40px;
  
  animation-duration: 300ms;
  animation-timing-function: steps(3);
  
  animation-direction: alternate;
  animation-name: bug-2;
}
@keyframes bug-2{
  100% {
    background-position: -60px -40px;
  }
}
#bug-3 {
  background: url("../res/player/bug20x20.png") 0 0;
  
  animation-duration: 300ms;
  animation-timing-function: steps(3);
  
  animation-direction: alternate;
  animation-name: bug-3;
}
@keyframes bug-3{
  100% {
    background-position: -60px 0;
  }
}


#blank {
  background: rgba(255, 255, 255, 0);
}
